body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../Img/ladrillo.jpg"); 
  background-color: aquamarine;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(193, 247, 16, 0);
}

h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 8px;
}

input[type="date"] {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.table th, .table td {
  vertical-align: middle;
}

.table-dark th {
  background-color: #000 !important;
  color: #ffcc00 !important;
}

.table-dark tr {
  border-radius: 20px;
}


@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }

  .container {
    padding: 1rem 0.5rem;
  }

  .table th, .table td {
    font-size: 0.8rem;
  }
}

.form-label{
  font-size: 17px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.684);
  border-radius: 10px;
}

